kcl-2016/workshop/Annotation[[:space:]]and[[:space:]]filtering1.pdf filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/Data[[:space:]]Basics[[:space:]]&[[:space:]]Alignment[[:space:]]workshop1.pdf filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/NGS.Annotation.and.filtering.kcl.doc.zip filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/NGS.Data.Basics.Alignment.workshop.kcl.doc filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/NGS.Data.Basics.Alignment.workshop.kcl.doc.zip filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/NGS.Variant.calling.workshop.kcl.doc.zip filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/Variant[[:space:]]calling[[:space:]]workshop[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/workshop-Will-Tapper-Southampton-2016 filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/workshop-Will-Tapper-Southampton-2016.zip filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/WES.22.bam filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/WES.vcf.gz filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/WES01_chr22_R1.fastq.gz filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/WES01_chr22_R2.fastq.gz filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/chr22.CEUTrio.HiSeq.WGS.b37.bestPractices.hg19.vcf.gz filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/chr22.dbsnp_138.hg19.vcf.gz filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/Exome_Targeted_Regions_v1.2.bed filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/NexteraRapidCapture_Exome_TargetedRegions_v1.2Used.bed filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/test_data/chr22_Exome_Targeted_Regions_v1.2.bed filter=lfs diff=lfs merge=lfs -text
kcl-2016/workshop/*.docx filter=lfs diff=lfs merge=lfs -text
